body{
    background-color: aquamarine;
    padding: 50px;
}


.paragraph {
    font-family: Arial;
    font-weight: 90px;
    font-size: 20px;

}
.heading1#first{
    border: solid 2px green;
    margin-bottom: 15px;
}


.orange {
    border:solid 2px rgb(145, 13, 221);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 15px;
}
.blue {
    border: solid 2px red;
    font-family: Arial;

}
a {
    text-decoration: none;
    font-size: 30px;


}